.footer {
    padding-bottom: 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.box {
    padding-top: 27px;
    padding: 24px;
    border-radius: 25px;
    background: #FFF;

    display: flex;
    flex-direction: column;
    gap: 18px;
}

.title {
    text-align: center;
    font: 700 12px/1.455 $kFontPublicSans;
    letter-spacing: .05em;
    color: $kColorBlack;

    text-transform: uppercase;

    b {
        font: inherit;
        color: $kColorPink;
    }
}

@media screen and (max-width: $kMobileXXL) {
    .box {
        padding: 28px 15px;
    }
}