.wrapper {
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.content {
    position: relative;
    z-index: 2;
    padding: 24px;
    padding-top: 370px;

    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.content_left {
    max-width: 530px;
}

.content_right {
    max-width: 310px;
}

.suptitle {
    font: 600 14px/1.2 $kFontPublicSans;
    letter-spacing: 0.04em;
    color: #FFF;
    text-transform: uppercase;
}

.title {
    margin-top: 44px;
    font: 500 42px/1 $kFontClashGrotesk;
    letter-spacing: -.02em;
    color: #FFF;
}

.card {
    padding: 27px 24px 24px;
    border-radius: 27px;
    background: rgba(#FFF, .95);
    backdrop-filter: blur(100px);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .suptitle {
        color: $kColorPink;
    }
}

.card_text {
    margin-top: 20px;
    font: 400 16px/1.255 $kFontPublicSans;
    color: rgba($kColorBlack, .8);
}

.card_button {
    margin-top: 30px;
    white-space: nowrap;
}

@media screen and (max-width: $kLaptopSM) {
    .title {
        font-size: 36px;
    }
}

@media screen and (max-width: $kTabletM) {
    .content {
        padding-top: 315px;
        gap: 0;
    }

    .title {
        max-width: 410px;
        margin-top: 32px;
        font-size: 32px;
    }

    .card {
        margin-top: 12px;

        .suptitle {
            display: none;
        }
    }

    .card_text {
        margin-top: 0;
    }
}

@media screen and (max-width: $kMobileXXL) {
    .content,
    .card {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: $kMobileSM) {
    .content {
        padding-top: 250px;
    }

    .title {
        font-size: 26px;
    }
}