.button {
    display: flex;
    align-items: center;
    min-width: 48px;
    flex-shrink: 0;

    border-radius: 100px;
    background: $kColorPink;
    font-size: 0;

    &_clear {
        .button_text {
            padding: 14px 20px !important;
        }
    }

    &_pink-outlined {
        background: transparent;
        border: 1.8px solid $kColorPink;
        transition: background 0.1s ease;

        .button_text {
            color: $kColorPink;
        }

        &:hover {
            background: rgba($kColorPink, 0.05);
        }

        .button_icon {
            background: $kColorPink;

            svg {
                stroke: #fff;
            }
        }
    }

    &:hover {
        .button_icon > span {
            transform: translateX(0);
        }
    }
}

.button_wrapper {
    display: flex;
}

.button_text {
    flex-shrink: 0;
    display: block;
    padding-left: 20px;
    padding-right: 4px;
    white-space: nowrap;
    font: 600 16px/1.255 $kFontPublicSans;
    letter-spacing: -0.02em;
    color: #fff;
}

.button_icon {
    margin: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    flex-shrink: 0;
    background: #fff;

    display: flex;
    align-items: center;
    overflow: hidden;

    > span {
        flex-shrink: 0;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        transform: translateX(-100%);
        transition: transform 0.3s ease 0.1s;
    }

    svg {
        width: 14px;
        height: 14px;
        flex-shrink: 0;
        stroke: $kColorPink;
    }
}

.animated {
    transform: scale(0);
    opacity: 0;
    transition:
        opacity 0.5s ease,
        transform 0.5s ease;

    [data-text-wrapper] {
        overflow: hidden;
        transition: width .5s ease 0.5s;
    }

    &InView {
        transform: scale(1);
        opacity: 1;
    }
}