.wrapper {
    display: flex;
    gap: 14px;
}

.image {
    width: calc(43.5% - 7px);
    border-radius: 25px;
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.content {
    width: calc(56.5% - 7px);

    display: flex;
    flex-direction: column;
    gap: 14px;
}

.card {
    padding: 36px 32px 42px;
    border-radius: 31px;
    background: #FFF;
    position: relative;
    z-index: 1;
}

.card_suptitle {
    font: 600 14px/1.2 $kFontPublicSans;
    letter-spacing: 0.04em;
    color: $kColorPink;
    text-transform: uppercase;
}

.card_title {
    margin-top: 96px;

    max-width: 620px;
    font: 500 75px/.9 $kFontClashGrotesk;
    letter-spacing: -.02em;
    color: #22282B;
}

.card_text {
    margin-top: 160px;
    max-width: 480px;

    font: 500 18px/1.255 $kFontPublicSans;
    letter-spacing: -.01em;
    color: rgba($kColorBlack, .8);
}

.info {
    padding: 26px 16px 55px 32px;
    border-radius: 25px;
    background: #EFEFEF;

    position: relative;
}

.info_icon {
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 8px;
    padding-bottom: 8px;
    border-radius: 0 0 0 24px;
    background: $kColorThemeWhite;

    &::after,
    &::before {
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        background: transparent;
        position: absolute;
        border-radius: 0 25px 0 0;
        box-shadow: 12px -12px 0 8px $kColorThemeWhite;
    }

    &::after {
        right: 100%;
        top: 0;
    }

    &::before {
        right: 0;
        top: 100%;
    }
}

.info_icon_circle {
    width: 52px;
    height: 52px;
    border-radius: 50px;
    background: #EFEFEF;
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 16px;
        height: 16px;
        fill: $kColorPink;
    }
}

.info_suptitle {
    font: 600 12px/1.255 $kFontPublicSans;
    letter-spacing: -.01em;
    color: rgba($kColorBlack, .6);
    text-transform: uppercase;
}

.info_row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.info_percent {
    font: 500 60px/1 $kFontClashGrotesk;
    letter-spacing: -.01em;
    color: $kColorBlack;
    padding-right: 37px;

    position: relative;

    &::after {
        content: "";
        display: block;
        width: 1px;
        height: 90%;
        background: rgba(#000, .2);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.info_list {
    padding-left: 40px;

    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-grow: 1;
}

.info_list_item {
    max-width: 395px;

    font: 500 14px/1.255 $kFontPublicSans;
    letter-spacing: -.01em;
    color: $kColorBlack;

    opacity: 0.6;

    &:first-child {
        font-size: 18px;
        opacity: 1;
    }
}

@media screen and (max-width: $kLaptopXXL) {
    .card {
        padding: 36px 28px;
    }

    .card_title {
        margin-top: 72px;
        font-size: 60px;
    }

    .card_text {
        margin-top: 120px;
        font-size: 16px;
    }

    .info {
        padding: 20px 16px 46px 32px;
    }
}

@media screen and (max-width: $kLaptopSM) {
    .card_title {
        font-size: 52px;
    }
    
    .card_text {
        margin-top: 75px;
    }

    .info_list {
        padding-left: 0;
    }
}

@media screen and (max-width: 876px) {
    .wrapper {
        flex-direction: column;
    }

    .image {
        height: 500px;
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .info_list {
        max-width: 600px;
    }
}

@media screen and (max-width: $kMobileXXL) {
    .image {
        height: 442px;
        border-radius: 15px;
    }

    .card {
        padding: 28px 20px;
    }

    .card_title {
        max-width: 340px;
        font-size: 38px;
    }

    .card_text {
        max-width: 400px;
        margin-top: 32px;
        font-size: 16px;
    }

    .info {
        padding: 28px 20px;
    }

    .info_row {
        margin-top: 30px;
    }

    .info_list {
        flex-direction: column;
    }
}

@media screen and (max-width: $kMobileSM) {
    .image {
        height: 380px;
    }

    .card_title {
        font-size: 32px;
    }
}