.root {
    margin: 50px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: relative;
}

.default {
    padding: 10px 16px;
    background: #FFF;
    border-radius: 10px;
}

.disabled {
    opacity: 0.6;
}