.root {
    border-radius: 16px;
    background: #f8f8f8;
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 10px;

    padding: 18px 20px;
}

.button_column {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.button_title {
    font: 600 12px/1.255 $kFontPublicSans;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: rgba($kColorBlack, 0.6);
}

.button_placeholder {
    margin-top: 6px;
    font: 500 18px/1.255 $kFontClashGrotesk;
    letter-spacing: -0.01em;
    color: rgba($kColorBlack, 0.9);
}

.button_icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: rotate(90deg);

    svg {
        width: 14px;
        height: 14px;
        stroke: $kColorBlack;
    }
}

.dropdown {
    padding: 0 10px;
}

.dropdown_inner {
    padding-top: 1px;
    padding-bottom: 4px;
    position: relative;

    &::before {
        content: "";
        display: block;
        background: rgba(#000, .1);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        max-width: calc(100% - 20px);
        width: 100%;
        height: 1px;
    }
}