@include fontCreate($kFontClashGrotesk, 500, "/fonts/ClashGrotesk-Medium");
@include fontCreate($kFontClashGrotesk, 600, "/fonts/ClashGrotesk-Semibold");
@include fontCreate($kFontGilroy, 500, "/fonts/Gilroy-Medium");
@include fontCreate($kFontOnest, 500, "/fonts/Onest-Medium");
@include fontCreate($kFontHelveticaNeue, 500, "/fonts/HelveticaNeueCyr-Medium");
@include fontCreate($kFontPublicSans, 400, "/fonts/PublicSans-Regular");
@include fontCreate($kFontPublicSans, 500, "/fonts/PublicSans-Medium");
@include fontCreate($kFontPublicSans, 600, "/fonts/PublicSans-SemiBold");