.hero {
    padding: 70px 0 20px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.title {
    max-width: 575px;
    font: 500 75px/0.85 $kFontClashGrotesk;
    letter-spacing: -0.02em;
    color: #22282b;

    span {
        color: $kColorPink;
    }
}

.text {
    max-width: 330px;
    font: 500 18px/1.255 $kFontPublicSans;
    color: rgba($kColorBlack, 0.5);
}

@media screen and (max-width: $kTabletXXL) {
    .title {
        font-size: 60px;
        max-width: 420px;
    }

    .text {
        font-size: 16px;
    }
}

@media screen and (max-width: $kTabletM) {
    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: $kMobileM) {
    .hero {
        padding-top: 60px;
        padding-bottom: 15px;
    }
    
    .content {
        gap: 32px;
    }

    .title {
        font-size: 40px;
        max-width: 200px;
    }
}
