.image {
    height: 550px;
    border-radius: 25px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: inherit;
    }
}

@media screen and (max-width: $kTabletXXL) {
    .image {
        height: 450px;
        border-radius: 20px;
    }
}

@media screen and (max-width: $kMobileXXL) {
    .image {
        height: 350px;
    }
}

@media screen and (max-width: $kMobileM) {
    .image {
        height: 230px;
    }
}