.wrapper {
    padding: 100px 50px 145px;
    border-radius: 50px;
    background: #10151b;
    position: relative;
}

.image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    object-position: center;
    border-radius: 0 0 50px 50px;
}

.box {
    position: relative;
}

.content {
    max-width: 1350px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    position: relative;
}

.content_left {
    max-width: 575px;
}

.content_right {
    padding-top: 86px;
    max-width: 308px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content_suptitle {
    font: 600 14px/1.2 $kFontPublicSans;
    color: rgba(#fff, 0.5);
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.content_title {
    font: 500 75px/0.9 $kFontClashGrotesk;
    letter-spacing: -0.02em;
    color: #fff;

    b, strong {
        font: inherit;
        color: $kColorPink;
    }
}

.content_text {
    font: 500 18px/1.255 $kFontPublicSans;
    letter-spacing: -0.01em;
    color: rgba(#fff, 0.95);
}

.list {
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    &:global(.--animate) {
        .list_icon {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.list_item {
    flex: 1;
    max-width: 340px;
    width: 100%;

    @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
            .list_icon {
                transition-delay: #{($i * 0.1 - 0.1)}s;
            }
        }
    }
}

.list_icon {
    width: 44px;
    height: 44px;
    border-radius: 10px;
    background: $kColorPink;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transform: scale(0.1);

    transition: 0.5s cubic-bezier(0.17, 0.67, 0.78, 1.34);
    transition-property: opacity, transform;

    svg {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        stroke: #fff;
    }
}

.list_title {
    margin-top: 38px;

    font: 500 28px/1.15 $kFontClashGrotesk;
    letter-spacing: -0.02em;
    color: #fff;
}

.list_text {
    margin-top: 20px;

    font: 500 18px/1.3 $kFontPublicSans;
    letter-spacing: -0.02em;
    color: rgba(#fff, 0.8);
}

@media screen and (max-width: $kLaptopXXL) {
    .wrapper {
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .content_right {
        padding-top: 50px;
    }

    .content_title {
        font-size: 60px;
    }

    .content_left {
        max-width: 470px;
    }

    .content_button {
        margin-top: 32px;
    }

    .list {
        margin-top: 110px;
    }
}

@media screen and (max-width: $kLaptopSM) {
    .wrapper {
        padding: 80px 30px 100px;
        border-radius: 32px;
    }

    .image {
        border-radius: 32px;
    }

    .content_text {
        font-size: 16px;
    }

    .list {
        margin-top: 95px;
    }

    .list_title {
        font-size: 24px;
    }

    .list_text {
        font-size: 16px;
    }
}

@media screen and (max-width: $kTabletXXL) {
    .content_right {
        padding-top: 30px;
        max-width: 200px;
    }

    .content_title {
        font-size: 54px;
        max-width: 400px;
    }

    .list {
        margin-top: 78px;
    }
}

@media screen and (max-width: $kTabletM) {
    .wrapper {
        padding-top: 60px;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .content {
        flex-direction: column;
        align-items: flex-start;
    }

    .content_left {
        max-width: 400px;
    }

    .content_right {
        display: none;
        max-width: 460px;
    }

    .content_button {
        margin: 60px auto 0;
    }

    .list {
        margin-top: 54px;
        flex-wrap: wrap;

        @include grid(2, 30, 30);
    }

    .list_item {
        max-width: unset;
    }
}

@media screen and (max-width: $kMobileXXL) {
    .list {
        @include grid(1, 50, 50);
    }

    .content {
        gap: 28px;
    }

    .image {
        height: 400px;
    }

    .list_title {
        margin-top: 35px;
    }
}

@media screen and (max-width: $kMobileM) {
    .wrapper {
        padding: 40px 20px 110px;
    }

    .content_title {
        font-size: 40px;
        max-width: 295px;
    }

    .content_text {
        max-width: 310px;
    }
}

@media screen and (max-width: $kMobileSM) {
    .content_title {
        font-size: 32px;
    }

    .list {
        gap: 30px;
    }

    .list_title {
        margin-top: 20px;
    }
}
