.banner {
    height: 216px;
    border-radius: 25px;
    object-fit: cover;
    object-position: center;
}

.content {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.title {
    font: 500 75px/.9 $kFontClashGrotesk;
    letter-spacing: -.02em;
    color: #22282B;

    max-width: 7em;

    span {
        color: $kColorPink;
    }
}

.text {
    max-width: 480px;

    display: flex;
    flex-direction: column;

    font: 500 18px/1.255 $kFontPublicSans;
    letter-spacing: -.01em;
    color: rgba($kColorBlack, .5);

    span + span {
        margin-top: 1.255em;
    }

    span:nth-child(2) {
        font-weight: 700;
        color: $kColorBlack;
    }
}

@media screen and (max-width: $kLaptopM) {
    .title {
        font-size: 60px;
    }

    .text {
        max-width: 420px;
        font-size: 16px;
    }
}

@media screen and (max-width: $kTabletXXL) {
    .banner {
        height: 150px;
    }

    .text {
        max-width: 340px;
    }
}

@media screen and (max-width: $kTabletM) {
    .banner {
        height: 120px;
    }

    .content {
        margin-top: 36px;
        flex-direction: column;
        align-items: flex-start;
        gap: 28px;
    }

    .title {
        max-width: 600px;
    }

    .text {
        max-width: 600px;
    }
}

@media screen and (max-width: $kMobileXXL) {
    .banner {
        height: 112px;
        border-radius: 16px;
        // object-position: 43% center;
    }

    .title {
        font-size: 40px;
        max-width: 400px;
    }
}

@media screen and (max-width: $kMobileSM) {
    .title {
        font-size: 32px;
    }
}