.day {
    width: 100%;
    height: 100%;
    font: 400 16px/1.2 $kFontPublicSans;
    color: #4f4f4f;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    &Today {
        .day_inner {
            border-color: $kColorPink;
        }
    }

    &OtherMonth {
        .day_inner {
            cursor: default;
            opacity: 0;
        }
    }

    &:not(.dayOtherMonth) {
        &.dayInRange {
            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;

                background: #fff3fa;
            }
        }

        &.dayStartRange {
            .day_inner {
                background: #22282b;
                color: #FFF;
            }
            &::before {
                width: 50%;
                left: 50%;
            }
        }

        &.dayEndRange {
            .day_inner {
                background: #e81899;
                color: #fff;
            }
            &::before {
                width: 50%;
                left: 0;
            }
        }

        &:hover:not(.dayStartRange,.dayEndRange) {
            .day_inner {
                background: rgba(#000, 0.05);
            }
        }
    }
}

.day_inner {
    position: relative;
    z-index: 2;

    width: 27.5px;
    height: 27.5px;
    flex-shrink: 0;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid transparent;

    cursor: pointer;
}
