.share_title {
    font: 500 16px/1.4 $kFontPublicSans;
    letter-spacing: -0.02em;
    color: #909da2;
}

.share_list {
    margin-top: 25px;
    display: flex;
    gap: 20px;
}

@media screen and (max-width: $kTabletM) {
    .share_title {
        text-align: center;
    }
    
    .share_list {
        justify-content: center;
    }
}